.home {
  box-sizing: border-box;
  padding: 25px;

  padding-top: calc(72px + 25px);

  height: 100%;
}

.content {
  box-sizing: border-box;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-template-rows: 190px 457px 463px auto 460px;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.current-page,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-gradient-horizontal);
  border-radius: 10px;

  svg {
    width: 12px;
    height: 12px;
    fill: #fff;
  }
}

.right {
  svg {
    width: 16px;
    height: 16px;
    fill: url(#primary-horizontal-gradient);
  }
}

.card {
  &-visit-sales {
    grid-column: 1 / 3;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-traffic-sources {
    & > div {
      display: flex;
      flex-direction: column;

      & > div:last-child {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.pie-chart {
  margin-bottom: 35px;
  align-self: center;
}

.tickets {
  grid-column: 1 / 4;
}

.updates {
  grid-column: 1 / 4;

  & > div {
    display: flex;
    flex-direction: column;

    & > div:last-child {
      display: flex;
      flex-direction: column;
    }
  }
}

.update-info {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-bottom: 23px;

  .author,
  .date {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--secondary-icon);

    svg {
      fill: var(--secondary-icon);
    }
  }
}

.images {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  gap: 10px;

  // flex: 1;

  margin-bottom: 39px;

  .row {
    display: flex;
    gap: 10px;
    flex: 1;

    & > div {
      flex: 1;
    }
  }
}

// 496
// 460

.recent-updates-footer {
  display: flex;
  align-items: center;

  gap: 15px;

  .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--primary-gradient-horizontal);
  }

  .recent-updates-footer-content {
  }

  .subject {
    font-size: 14px;
    font-weight: 500;
  }

  .details {
    font-size: 14px;
    font-weight: 300;
  }
}

.projects {
  grid-column: 1 / 4;
}
