@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";

.link {
  @extend .link;
  @include flex-space-between;

  a {
    color: inherit;
    text-decoration: none;

    &:hover + .icon svg {
      fill: black;
      stroke: black;
    }
  }

  &.active {
    color: var(--active-link);

    .icon {
      svg {
        fill: url("#primary-horizontal-gradient");
      }
    }
  }

  .icon {
    fill: var(--primary-icon);

    svg {
      fill: inherit;
      width: 15px;
      height: 15px;
    }
  }
}
